{
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    [
      "emotion",
      {
        "labelFormat": "[local]",
        "cssPropOptimization": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ]
      }
    ]
  ]
}